.section {
  width: 80%;
  margin: 10rem auto;
  border: 2px solid #ccc;
  padding: 1rem;
}
.section h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  color: #333;
}

.section h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #333;
}
.section form {
  display: flex;
  width: 50%;
  margin: 2rem auto;
}
.section form input {
  flex: 1;
  padding: 1rem;
  border: 1px solid #333;
  outline: none;
}
.section form button {
  background: #272727;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 850px) {
  .section {
    width: 90%;
    margin: 5rem auto;
  }
  .section h1,
  .section h2 {
    font-size: 1rem;
  }
  .section form {
    width: 90%;
    flex-direction: column;
  }
  .section form input {
    width: 100%;
  }
  .section form button {
    width: 100%;
    padding: 1rem;
    border: 1px solid #333;
  }
}
