.section {
  width: 100%;
  margin: 4rem 0;
}

.section h1 {
  width: 80%;
  margin: 4rem auto;
  color: #000;
  font-family: Satoshi;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* text-align: center; */
}
.auction {
  width: 30%;
  position: relative;
}
.auction img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.time {
  background: rgba(255, 255, 255, 0.2);
  border: 0.5px solid #ffffff;
  color: #fff;
  font-weight: bold;
  backdrop-filter: blur(1.5px);
  padding: 0.2rem;
  position: absolute;
  bottom: 10%;
  width: 80%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.small {
  display: none;
}
.bid {
  margin: 10rem o;
}
.bid h2 {
  width: 80%;
  margin: 3rem auto;
  font-family: Satoshi;
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.bids {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}
.details {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.detail {
  display: flex;
  padding: 1rem 0 1rem;
  background: #ffffff;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  flex-direction: column;
}
.detail img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.detail span {
  /* padding: 1rem; */
  text-align: right;
  font-size: 2rem;
  color: #333;
  margin-right: 1rem;
  /* background: #eee; */
  border-radius: 0.3rem;
}
.detail h1 {
  font-family: Satoshi;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 1rem;
  color: #000;
}
.creator h1 {
  font-family: Satoshi;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  color: ##616161;
}
.price {
  padding: 1rem;
  background: #f7f4f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.eth {
  width: 50%;
}
.price h1 {
  font-family: Satoshi;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 0;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.price a {
  display: block;
  background: #3341c1;
  border-radius: 3.68216px;
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  width: 50%;
  transition: transform 0.2s ease-in;
}
.price a:active {
  transform: scale(0.5);
}
.live {
  width: 60%;
  margin: 4rem auto;
  display: flex;
  overflow: hidden;
  height: 70vh;
  gap: 1rem;
}
.livebid {
  width: 50%;
  position: relative;
}
.livebid .image {
  width: 100%;
  position: relative;
}
.livebid .image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.current {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  width: 100%;
}
.current h1 {
  color: #fff;
  font-family: Inter;
  font-size: 2rem;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  animation: blink 0.5s ease infinite;
}
.black {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
@keyframes blink {
  from {
    color: green;
  }
  to {
    color: white;
  }
}
.current p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin: 0.5rem;
}
.h2 {
  position: absolute;
  top: 0;
  right: 0;
  background: #4693ed;
  border-radius: 5px;
  margin: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}
.viewer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.img {
  width: 50px;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.view {
  overflow: scroll;
  height: 70%;
  padding: 1rem;
}
.views {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  width: 100%;
  gap: 1rem;
  margin: 0.5rem 0;
}
.content {
  /* background: #eee;
  width: 100%; */
}
.content p {
  font-size: 1rem;
  color: #333;
}
.form {
  width: 80%;
  margin: auto;
}
.form h1 {
  font-family: Inter;
  font-size: 1rem;
  color: #333;
  font-style: italic;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.form div {
  background: transparent;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}
.form input {
  border: none;
  width: 100%;
  padding: 1rem;
  outline: none;
}
.form button {
  background: transparent;
  border: none;
  font-size: 2rem;
}
.upcoming {
  width: 60%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.upcoming h1 {
  font-size: 1.3rem;
  color: #333;
}
.upcoming span {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #333;
}

@media (max-width: 850px) {
  .container {
    display: none;
  }
  .small {
    display: block;
  }
  .bids {
    flex-direction: column;
  }
  .details {
    width: 100%;
  }
  .bid h2 {
    margin: 1rem auto;
    font-size: 1rem;
  }
  .live {
    width: 90%;
    position: relative;
    padding: 0 0 1rem;
    flex-direction: column;
    height: 100%;
    border: none;
  }
  .livebid h1 {
    font-size: 1rem;
  }
  .livebid .image img {
    height: 600px;
    object-fit: cover;
  }
  .black {
    height: 600px;
  }
  .livebid,
  .viewer {
    width: 100%;
  }
  .viewer {
    bottom: 8%;
    left: 0;
  }
  .view {
    position: absolute;
    bottom: 30%;
    left: -8%;
    height: 40vh;
    overflow: hidden;
    margin-left: 2rem;
    overflow: scroll;
  }
  .content p {
    color: #fff;
    font-size: 0.8rem;
  }
  .views {
    background: transparent;
    margin: 0;
    /* opacity: 0.8; */
  }
  .form div {
    border: none;
  }
  .current p {
    display: none;
  }
  .current {
    bottom: 50%;
  }
  .current h1 {
    font-size: 2rem;
    z-index: 10;
    /* bottom: 20%; */
    /* display: none; */
  }
  .form h1 {
    color: #fff;
  }
  .form div button {
    color: #fff;
  }
  .form {
    position: absolute;
    bottom: 8%;
    left: 5%;
  }
  .upcoming {
    width: 90%;
    /* margin: 1rem auto; */
  }
}
/* width */
.view::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.view::-webkit-scrollbar-track {
  background: red;
  display: none;
}

/* Handle */
.view::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
.view::-webkit-scrollbar-thumb:hover {
  display: none;
}
